.div-calendarios {
  border: 1px solid lightpink;
}

.div-calendario {
  border: 3px dotted rgb(174, 174, 229);
}

.div-calendarios table {
  width: 100%;
  border: 1px solid lightgreen;
}

.div-calendarios table td {
  border: 1px solid lightgreen;
}
